<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<section class="plant-page-content">

    <section class="plant-page-header">
        <img class="plant-page-plant-image" src="<%= stekje.fotos[0].original%>" width="<%= stekje.fotos[0].width%>" height="<%= stekje.fotos[0].height%>">
        <h3 class="plant-page-plant-title text-box-title"><%= stekje.naam %></h3>    
    </section>

    <section class="plant-page-plant-info">
        <section class="plant-page-plant-food plant-page-text-content">
            <h4 class="text-box-title">Herkomst</h4>
            <p class="text-box-text"><%= stekje.landvanherkomst %></p>    
        </section>

        <section class="plant-page-plant-food plant-page-text-content">
            <h4 class="text-box-title">Voeding</h4>
            <p class="text-box-text"><%= stekje.voeding %></p>    
        </section>

        <section class="plant-page-plant-food plant-page-text-content">
            <h4 class="text-box-title">Verpotten</h4>
            <p class="text-box-text"><%= stekje.verpotten %></p>    
        </section>

   
    </section>

    <button class="button-big reserve-plant-button">
        <p class="reserve-plant-button-text">Deze wil ik!</p>
    </button>

</section>

<%- include('./partials/foot.ejs') %>
